/* Coolors Exported Palette - coolors.co/31393c-e0ddcf-757780-474448-ff6e00 */

/* HSL */
$color1: hsla(196%, 10%, 21%, 1);
$color2: hsla(49%, 22%, 85%, 1);
$color3: hsla(229%, 4%, 48%, 1);
$color4: hsla(285%, 3%, 27%, 1);
$color5: hsla(26%, 100%, 50%, 1);

/* RGB */
$color1: rgba(49, 57, 60, 1);
$color2: rgba(224, 221, 207, 1);
$color3: rgba(117, 119, 128, 1);
$color4: rgba(71, 68, 72, 1);
$color5: rgba(255, 110, 0, 1);